.text-right{
    text-align: right;
    
}
body{
    background-image: url(https://wallpaperaccess.com/full/1213290.jpg) ;
    color:white;
}
.button {
    color: white;
    background-color: rgb(211, 90, 35);
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}
.button1:hover{
    background-color: white;
}
